body {
  background: #050505;
  color: #eee;
  font-family: serif;
}

#layout {
  display: flex;
}

/* ПРАВАЯ КОЛОНКА */
#game-list {
  width: 220px;
  padding: 20px;
}

/* КНОПКИ ИГР */
.game-btn {
  background: #7a0000;
  border: none;
  color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.game-btn:hover {
  background: #b00000;
}

/* КОНТЕНТ */
#content {
  flex: 1;
  padding: 20px;
}

#game-banner img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/* СМЕРТИ */
#death-stats {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.death-box strong {
  font-size: 48px;
  color: red;
}

/* КАРТА ELDEN */
#elden-map-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 30px auto;
}

#elden-map {
  width: 100%;
  filter: brightness(0.6);
}

.region {
  position: absolute;
  cursor: pointer;
}

.region:hover {
  outline: 2px solid red;
  background: rgba(255,0,0,0.2);
}

.hidden {
  display: none;
}

/* ===== БОССЫ ===== */

.boss {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  padding-left: 6px;
}

.boss.dead {
  text-decoration: line-through;
  border-left: 4px solid red;
}

/* ИКОНКА */
.boss-icon {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 4px;
  filter: grayscale(20%) brightness(0.9);
}

.boss.dead .boss-icon {
  filter: grayscale(100%) brightness(0.4);
}

.boss-name {
  flex: 1;
}

.boss-stats {
  display: flex;
  align-items: center;
  gap: 8px;
}

.boss-stats input {
  width: 60px;
}

/* КНОПКА УБИТ */
.boss-stats button {
  background: #7a0000;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

.boss-stats button:hover {
  background: #b00000;
}

/* КНОПКА НАЗАД */
#back-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: darkred;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
}




















